@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --main-font: "Architects Daughter", cursive;
  --main-height: 100vh;
  --main-width: 100vw;

  --size-6: 0.375rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-110: 6.875rem;
  --size-120: 7.5rem;
  --size-150: 9.375rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.test-border {
  border: 2px solid red;
}

body {
  font-family: var(--main-font);
  background-color: #f9f9f9;
  color: #333;
  width: var(--main-width);
  height: var(--main-height);
}

header {
  height: var(--size-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6200ea;
  color: #fff;
  text-align: center;
  justify-content: center;
}

header h1 {
  font-size: var(--size-40);
}

header p {
  font-size: var(--size-16);
}

ul,
li {
  list-style-type: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: var(--main-height);
}

.container {
  flex-grow: 1;
  width: 70vw;
  gap: 4rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}

/* .container {
  
} */

.search-section {
  margin-top: var(--size-50);
  width: 35vw;
  gap: 2.188rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  padding: var(--size-10);
  font-family: var(--main-font);
  font-size: var(--size-14);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  width: 20vw;
  align-self: center;
  font-family: var(--main-font);
  font-size: 2rem;
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3700b3;
}

.results-card,
.favorites-section {
  margin-top: 20px;
}

.results-container {
  position: relative;
  flex-grow: 1;
  align-self: center;
  bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-heading {
  font-size: 3rem;
}

.results-container > div {
  flex: 1 1 calc(50% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  text-align: center;
}

.results-item {
  font-size: var(--size-24);
}

footer {
  grid-column: 1 / span 8;
  grid-row: 8;
  text-align: center;
  padding: 10px;
  background-color: #6200ea;
  color: #fff;
}
