@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
:root {
  --main-font: "Gloria Hallelujah", serif;
  --main-height: 100vh;
  --main-width: 100vw;

  --secondary-font: "Indie Flower", serif;

  --size-6: 0.375rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-110: 6.875rem;
  --size-120: 7.5rem;
  --size-150: 9.375rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.test-border {
  border: 2px solid red;
}

body {
  font-family: var(--main-font);
  background-color: #f9f9f9;
  color: #333;
  width: var(--main-width);
  height: var(--main-height);
}



ul,
li {
  list-style-type: none;
}

img {
  max-width: 75%;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: var(--size-20);
}


/* -----------------------------------HEADER CONTENT------------------------------- */
header {
  grid-area: Header;
  display: flex;
  align-items: center;
  background-color: #6200ea;
  color: #fff;
  text-align: center;
  justify-content: space-evenly;
}

.speaker-container {
  display: flex;
}

.speaker-container img {
  width: var(--size-120);
}
.search-section {
  align-self: center;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  font-family: var(--main-font);
  font-size: var(--size-14);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar::placeholder {
  font-size: var(--size-12);
  text-align: center;
}

.search-btn-container {
  display: flex;
  justify-content: center;
  gap: var(--size-14);
}

.search-button,
.secondary-button {
  font-family: var(--main-font);
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button {
  width: 10vw;
  font-size: var(--size-20);
  border: 1px solid white;
}

.secondary-button {
  width: 16vw;
  font-size: var(--size-16);
  height: var(--size-30);
}

.search-button:hover,
.secondary-button:hover {
  background-color: #3700b3;
}
/* -------------------------------HEADER END---------------------------------- */

/* -----------------------------------MAIN CONTENT------------------------------- */
.app-container {
  padding: 0px var(--size-30);
  width: clamp(65vw, 70vw, 71vw);
  justify-self: center;
}
/* ------------------vinyl------------- */
.vinyl-container {
  display: flex;
  justify-content: center;
  margin-top: var(--size-20);
}

.vinyl-container.hidden {
  display: none;
}
/* ------------------vinyl------------- */

/* ------------------results------------- */

.results-container,
.additional-info {
  margin: var(--size-20) 0px;
  padding-bottom: var(--size-16);
}

.results-container,
.results-list {
  display: none;
}

.results-container.active {
  
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
  /* display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(5, min-content);
 
  
  grid-template-areas: 
    "init-search init-search"
    "btns btns"
    "tracks-members tracks-members"
    "description description"
    "additional-releases additional-releases";;  */
  
}

.init-results-container {
  padding-top: var(--size-24);
  display: flex;
  justify-content: center;
  gap: var(--size-40);
}

.heading-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-heading {
  grid-area: heading;
  text-align: center;
  font-size: var(--size-20);
  padding-top: var(--size-12);
}

.results-list.active {
  grid-area: dataArea;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
  gap: var(--size-10);
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.results-item {
  font-size: var(--size-16);
}

.track-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--size-10);
}

/* results end */

/* more info */
.tracks-members-lists {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
}

.tracks-members-lists.initial, .tracks-members-lists {
  grid-area: tracks-members;
}

.tracklist {
  grid-area: tracklist;
}

.members-credits {
  grid-area: members-credits;
}
/* more info end */


.profile-description {
  padding: var(--size-40);
  grid-area: description;
}

.profile-description p {
  font-size: var(--size-20);
  text-align: center;
}


.additional-releases-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "version1 version2 version3 version4"
    "version5 version6 version7 version8";
  grid-area: additional-releases;
}

.version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--size-10);
  gap: 1px;
}

.version-1 {
  grid-area: version1;
}
.version-2 {
  grid-area: version2;
}
.version-3 {
  grid-area: version3;
}
.version-4 {
  grid-area: version4;
}
.version-5 {
  grid-area: version5;
}
.version-6 {
  grid-area: version6;
}
.version-7 {
  grid-area: version7;
}
.version-8 {
  grid-area: version8;
}

.add-see-favs {
  grid-area: add-see-favs;
}

.favorites-list {
  display: flex;
  flex-direction: column;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 10px;
  background-color: #6200ea;
  color: #fff;
}

/* Make sure the expanded content is responsive */
@media (max-width: 768px) {
  .expanded-info {
    padding: 10px;
  }

  .info-section {
    margin-bottom: 15px;
  }
}
